<div>
  {{#each messages.success}}
    <p>Success: {{ this }}</p>
  {{/each}}
  {{#each messages.info}}
    <p>Info: {{ this }}</p>
  {{/each}}
  {{#each messages.error}}
    <p>Error: {{ this }}</p>
  {{/each}}
</div>
