{{#each messages.success}}
  <div class="message">
    <p><span class="success">Success:</span> {{ this }}</p>
  </div>
{{/each}}
{{#each messages.info}}
  <div class="message">
    <p><span class="info">Info:</span> {{ this }}</p>
  </div>
{{/each}}
{{#each messages.error}}
  <div class="message">
    <p><span class="error">Error:</span> {{ this }}</p>
  </div>
{{/each}}
